<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="color: red">
        Hola alumnos esta es nuestra primera pagina con Django
    </h1>
    <p>
        El  nombre del profesor es : {{nombre_persona}} {{apellido_persona}}
    </p>
    <p>
        La fecha que estas mirando la plantilla es: {{hora_actual}}
    </p>
    <p> 
        <strong>Temas del curso:</strong>
        <ul>
            {% if temas%} 
                {% for indice in temas %}
                    <li>{{indice}}</li>
                {% endfor %}
            {% else %}
                <p>Finalisaste los cursos</p>
            {% endif %}
        </ul>

    </p>
</body>
</html>